

{% if not user.is_authenticated %}
<button>
    <a href="{% url 'sign in' %}">Log in</a>
</button>
{% else %}
<button>
    <a href="{% url 'user-dash-board' %}">Dashboard</a>
</button>
{% endif %}
<button> 
    <a href="{% url 'sign_out' %}">Log Out</a>
</button>
<h1>Recently Read Books</h1>
{{ recently_read_books.book_list }}
<table>
    <tr>
        <th>User Name</th>
        <th>Book Name</th>
        <th>Author Name</th>
    </tr>
{% for item in book_list %}
<tr>
    {% if item.user_name %}
    <td> <a href="{% url 'other-user-page' item.user_name %}">{{item.user_name}}</a> </td>
    {% else %}
    <td> <a href="{% url 'other-user-page' 'Darwin J Dragon' %}">{{item.user_name}} else block</a> </td>
    {% endif %}
    <td> {{item.book_name}} </td>
    <td> {{item.author_name}} </td>
</tr>
{% endfor %}
</table>